@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #e7dbd6;
  font-family: Open Sans;
  margin: 0;
  padding: 0;
}

/* Website Name and Description */
.websiteHeader {
  margin: 8px;
}
.websiteName {
  background-color: #b09e96;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 6em;
  text-align: center;
  padding-top: 10px;
}

/* Website Grid Structure */
.websiteStructure {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-column-gap: 1vw;
  margin: 8px;
}
.websiteSection {
  border: 5px solid white;
  background-color: #e7dbd6;
}

/* Website Sections */
.sectionName {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5em;
  padding: 0 5px 0 40px;
}
.sectionContent {
  padding: 0 8px 0 8px;
}

/* Reusables: Placeholder & Button */
.reusablePlaceholder {
  float: left;
  border-radius: 5px;
  border: 2px solid #766963;
  padding: 8px;
}
.reusableButton {
  float: right;
  border-radius: 5px;
  background-color: #766963;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 8px;
}

/* Add New User */
.userGreeting {
  margin-bottom: 8px;
}
#idAddNewUser input {
  width: 67%;
  height: 30px;
  font-size: 12px;
  margin-bottom: 8px;
}
#idAddNewUser input:focus {
  outline: none;
  border-color: black;
}
#idAddNewUser button {
  width: 30%;
  height: 30px;
  font-size: 12px;
}
#idSelectedUser {
  color: #b09e96;
}

/* Task Placeholder */
#idAddTask input {
  width: 85%;
  height: 40px;
  font-size: 15px;
}
#idAddTask input:focus {
  outline: none;
  border-color: black;
}
#idAddTask button {
  width: 13%;
  height: 40px;
  font-size: 15px;
}

/* List of Tasks to Do */
#idListTasksToDo,
#idListTasksDone {
  float: left;
  width: 100%;
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: #b09e96;
}
#idListTasksToDo {
  margin-top: 8px;
}

.taskToDo,
.taskDone {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #939697;
  cursor: pointer;
  height: 40px;
  margin-bottom: 8px;
  padding: 8px;
}
.buttonCompleteTask,
.buttonDeleteTask {
  float: inline-end;
}
